 /* div {
    
} */
 
 #page {
     width: 940px;
     color: #666666;
     font-family: 'Times New Roman', Times, serif;
     background-color: white;
 }
 
 #header body {
     width: 300px;
     height: 200px;
     padding: 10px 10px 10px 10px;
     border: 1px;
     margin: 15px;
     background-image: url("../Laborator_9_CSS/image/dark-wood.jpg");
 }
 
 .article img {
     float: left;
 }
 
 #sidebar,
 #article p,
 #article h1,
 #article h2 {
     float: right;
 }
 
 #figcaption {
     float: left;
 }